h1{
	font-family: "Helvetica";
	padding-left: 50px;
}


.toolTip {
	position: absolute;
	text-align: center;
	font-size: 15px;
	padding: 2px;
	width: 200px;
	height: 30px;
	font-family: Helvetica;
	background-color: white;
	border-radius: 5px;
	pointer-events: none;
	opacity: 0;
	border-style: solid;
	border-color: black;
}
